{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Most recent talks{% endblock %}</h1>
{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Filmed</th>
      <th scope="col">Published</th>
    </tr>
  </thead>
  <tbody>
    {% for talk in talks %}
    <tr>
      <th scope="row"><a href="{{ url_for('talks.details', id=talk['id']) }}">{{ talk['id'] }}</a></th>
      <td>{{ talk['title'] }}</td>
      <td>{{ talk['filmed_at']|timestamp_to_dt|format_dt('%d %B %Y') }}</td>
      <td>{{ talk['published_at']|timestamp_to_dt|format_dt('%d %B %Y') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
